@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #141414;
  font-family: "Outfit", sans-serif;
}

.label::before {
  content: "+";
  /* margin-right: 10px; */
  font-size: 24px;
  font-weight: 600;
  background-color: #254bd3;
  padding: 20px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* left: 73.5%; */
  right: 23%;
  text-align: center;
}

.show-nav a {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  display: none;
  padding: 10px;
  color: white;
  padding-top: 3px;
}

.content {
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

input[type="radio"] {
  display: none;
}

.accordion input[type="radio"]:checked + label + .content {
  max-width: 630px;
  padding: 0px 10px 100px;
}
.accordion input[type="radio"]:checked + label::before {
  content: "-";
}

@media screen and (max-width: 850px) {
  .label::before {
    left: 75%;
    font-size: 10px;
  }
}

@media screen and (max-width: 950px) {
  .label::before {
    left: 72%;
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .label::before {
    left: 80%;
    width: 20px;
    height: 20px;
  }

  .one {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 16px;
    margin: 18px 10px;
  }
  .one a {
    text-decoration: none;
    color: #254bd3;
    padding: 10px 2px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    /* mar */
  }

  .one a:hover {
    background-color: #f0f0f0;
    color: #254bd3;
  }
}

@media screen and (min-width: 700px) {
  .hamburger {
    display: none;
  }

  .one{
    display: none;
  }
}
